* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
    transition: background 0.5s ease-in-out;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
}

.half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
    cursor: pointer;
    transform: scale(1);
}

    .half:hover img {
        transform: scale(1.2);
    }

.left {
    background: #0052cc;
}

.right {
    background: #66b3ff;
}

.half.active {
    opacity: 1;
}

h2 {
    margin-bottom: 20px;
    font-size: 26px;
}

a.signup-link {
    background: white;
    color: #0052cc;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px 0;
    text-decoration-line: none;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

    a.signup-link:hover {
        background: #0041a3;
        color: white;
        transform: scale(1.1);
    }

img {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.question {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    color: black;
    font-weight: bold;
}

.or-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    z-index: 1;
    background-color: white;
    padding: 20px;
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:hover .left, .container:hover .right {
    transform: none;
}
/* Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .half {
        flex: none;
        width: 100%;
    }

    .or-divider {
        display: none;
    }
}
