@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<body id="body">
    <div class="question">Are you a Tour Guide or a Tourist?</div>
    <div class="container" id="container">
        <div class="half left" onclick="activateSection(this, '#0052cc')">
            <img src="Assets/tourgide.png" alt="Tour Guide">
            <h2>I'm a Tour Guide</h2>
            <a asp-controller="Auth" asp-action="TourgideSignUp" class="signup-link">Signup as Tour Guide</a>
            <p>Already have an account? <a href="#" style="color: white; text-decoration: underline;">Login here</a></p>
        </div>
        <div class="or-divider">OR</div>
        <div class="half right" onclick="activateSection(this, '#66b3ff')">
            <img src="Assets/tourist.png" alt="Tourist" width="500" height="500">
            <h2>I'm a Tourist</h2>
            <a asp-controller="Auth" asp-action="TouristSignUp" class="signup-link">Signup as Tourist</a>
            <p>Already have an account? <a href="#" style="color: white; text-decoration: underline;">Login here</a></p>
        </div>
    </div>
    <script src="~/js/index.js"></script>
</body>
